/* 
Author: Paulo Mateus - http://srmourasilva.github.io/
*/
html, body {
	height: calc(100% - 50px);
}
body {
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.index {
	background: rgba(0, 0, 0, 0.6);

	background-image: url("../imgs/cover.jpg");
	background-size: calc(100% - 145px) auto;
	background-position: right center;
	background-repeat: no-repeat;
}
	body.index main {
		margin-top: 400px;
	}

	@media (max-width: 767px) {
		body.index {
			margin-top: 0px;
			padding-top: 0px;
			background-size: 100% auto;
		}
		body.index main {
			margin-top: 250px;
		}
	}

h1, h2, h3, h4, h5, h6 {
	font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*****************************
 * Navbar 
 */
.navbar {
	border-bottom: 1px solid #080808;
}

.navbar h1 {
	color: #DDD;
	text-shadow: 1px 1px 3px #000000;

	font-size: 1.8em;
	padding: 7px 0 7px 60px; margin: 0;

	background-image: url("../imgs/icon.png");
	background-repeat: no-repeat;
	background-size: 50px auto;
}
@media (max-width: 400px) {
	.navbar h1 {
		padding-top: 10px;
		font-size: 1.5em;
	}
}
	.navbar h1 span {
		float: left;
	}

.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}


/*****************************
 * Navbar side-nav 
 */
.side-nav {
	font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: 1px solid #080808;
}
.side-nav i.fa {
	text-shadow: 1px 1px 3px #000000;
}

@media (min-width: 768px) {
	.side-nav, .side-nav > li > a {
		width: 150px; 
	}
	.side-nav i.fa {
		width: 100%;
		font-size: 25px;
		padding-bottom: 5px;
	}
	
	.side-nav a {
		text-align: center;
	}
}


/*****************************
 * Page404 
 */
#page404 h2 {
	font-size: 6em;
	text-shadow: 1px 1px 0px #555;
}
#page404 p {
	font-size: 3em;
}
#page404 img {
	width: 100%;
} 
	#page404 img:first-child {
		height: 60%;
	}
	#page404 img:last-child {
		height: 20%;
	}

/*****************************
 * Content
 * 
 * For all pages 
 */
@media (min-width: 768px) {
	#wrapper {
		padding-left: 150px;
	}
}

header {
	margin: -50px -25px 20px -50px;
	padding: 50px 50px 20px 50px;
	color: #FFF;
}
	header.yellow {
		background-color: #3D2002; /*D9EDF7*/
	}
	header.green {
		background-color: #15382A; /*E2F0D6;*/
	}
	header.blue {
		background-color: #202B30;
	}
	header.red {
		background-color: #300000;
	}
	header.purple {
		background-color: #370242;
	}

.pagination {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/*****************************
 * Index 
 */
body.index {
	background-color: #000;
} 
#index {

}
#index h2 {
	font-size: 50px;
	text-shadow: 1px 1px 3px #000000;
	color: #FFF;
}

/*****************************
 * Albums 
 */
.album {
	height: 100%;
	padding: 22px 7px;
	background-color: #F5F5F5;
	margin-bottom: 30px;
}

.album .inform {
	padding-left: 0px;
}
.album .inform ul {
	padding: 0;
}
.album .inform li {
	list-style-type:none;
}
	.album .contain {
		font-size: 16px;
		cursor: default;
	}
	.album .contain img {
		width: 18px;
	}